.doodle {
  position: absolute;
  z-index: 1;
}

#index-2019-all-data-wrap {
  z-index: 10;
  width: 100%;
  font-family: 'Microsoft JhengHei';
  overflow: hidden;
}

#index-2019-all-data-wrap .index-2019-title {
  margin: 1rem 0;
  font-family: 'Press Start 2P';
  font-size: 3rem;
  text-align: center;
  letter-spacing: 0.8rem;
  color: #fff;
  text-shadow: 0 0 2rem;
  -webkit-animation: shine 5s linear infinite;
          animation: shine 5s linear infinite;
}

#index-2019-all-data-wrap .index-2019-dec {
  margin: 2.5rem 0 3rem 0;
  text-align: center;
  color: #fff;
  font-family: 'Microsoft JhengHei';
  letter-spacing: 2px;
}

#index-2019-all-data-wrap .board-moving-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3rem 0;
}

#index-2019-all-data-wrap .board-moving-wrap .board-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: sliderShow 20s linear infinite;
          animation: sliderShow 20s linear infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

#index-2019-all-data-wrap .board-moving-wrap .board-wrap .cate-wrap {
  position: relative;
  margin: 1rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#index-2019-all-data-wrap .board-moving-wrap .board-wrap .cate-wrap:hover {
  cursor: pointer;
}

#index-2019-all-data-wrap .board-moving-wrap .board-wrap .cate-wrap:hover .cate-img .cate-img-cover {
  opacity: 1;
}

#index-2019-all-data-wrap .board-moving-wrap .board-wrap .cate-wrap:hover .cate-title {
  opacity: 1;
}

#index-2019-all-data-wrap .board-moving-wrap .board-wrap .cate-wrap .cate-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

#index-2019-all-data-wrap .board-moving-wrap .board-wrap .cate-wrap .cate-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#index-2019-all-data-wrap .board-moving-wrap .board-wrap .cate-wrap .cate-img .cate-img-cover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  position: absolute;
  width: 150px;
  height: 150px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  line-height: 150px;
  border-radius: 50%;
}

#index-2019-all-data-wrap .board-moving-wrap .board-wrap .cate-wrap .cate-img .cate-img-cover p {
  text-align: center;
  font-family: 'Press Start 2P';
  color: #FA1C16;
}

#index-2019-all-data-wrap .board-moving-wrap .board-wrap .cate-wrap .cate-title {
  color: #fff;
  opacity: 0.2;
}

#index-2019-all-data-wrap .board-moving-wrap .board-wrap .cate-wrap .cate-title p {
  margin-top: 0.8rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 800;
}

#index-2019-all-data-wrap .spent-count-time-wrap {
  color: #fff;
  font-family: 'Microsoft JhengHei';
  letter-spacing: 2px;
}

#index-2019-all-data-wrap .spent-count-time-wrap p {
  text-align: center;
  font-weight: 800;
}

#index-2019-all-data-wrap .spent-count-time-wrap p .fun-count-min, #index-2019-all-data-wrap .spent-count-time-wrap p .fun-count-sec {
  font-family: 'Press Start 2P';
  font-size: 0.8rem;
  color: #FA1C16;
}

#index-2019-all-data-wrap .spent-count-time-wrap .count {
  text-align: center;
  font-family: 'Press Start 2P';
  font-size: 0.8rem;
}

@-webkit-keyframes shine {
  0% {
    text-shadow: 0 0 2rem;
  }
  50% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 0vw #FA1C16, 0 0 2vw #FA1C16, 0 0 0.4vw #FED128, 0.5vw 0.5vw 0.1vw #806914;
  }
}

@keyframes shine {
  0% {
    text-shadow: 0 0 2rem;
  }
  50% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 0vw #FA1C16, 0 0 2vw #FA1C16, 0 0 0.4vw #FED128, 0.5vw 0.5vw 0.1vw #806914;
  }
}

@-webkit-keyframes sliderShow {
  0% {
    -webkit-transform: translateX-(-100%);
            transform: translateX-(-100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes sliderShow {
  0% {
    -webkit-transform: translateX-(-100%);
            transform: translateX-(-100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

#index-2019-beat-article {
  width: 100%;
}
/*# sourceMappingURL=leaderboard-2019-ver1.css.map */