<!DOCTYPE html>
<html lang="zh_TW">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>純靠北工程師 | 2019 排行榜</title>
    <meta name="description" content="發源自臉書──全台最大工程師廢文社群 https://kaobei.engineer">
    <meta name="keyword" content="純靠北工程師, 發源自臉書, 全台最大工程師廢文社群, 濁水溪以南最大, 濁水溪以北最大, 講幹話, 發廢文, 罵老闆, 婊同事, 我看你是不夠敏捷喔">
    <meta name="author" content="純靠北工程師">

    <!-- Social: Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@">
    <meta name="twitter:title" content="不要誤會，我不是針對你，我是說在座的各位，都是純靠北工程師。">
    <meta name="twitter:description" content="發源自臉書──全台最大工程師廢文社群 https://kaobei.engineer">
    <meta property="twitter:image:src" content="https://i.imgur.com/klfOphB.png">

    <!-- Social: Facebook / Open Graph -->
    <meta property="og:url" content="https://kaobei.engineer">
    <meta property="og:title" content="不要誤會，我不是針對你，我是說在座的各位，都是純靠北工程師。">
    <meta property="og:image" content="https://i.imgur.com/klfOphB.png">
    <meta property="og:description" content="發源自臉書──全台最大工程師廢文社群 https://kaobei.engineer">
    <meta property="og:site_name" content="純靠北工程師 | 首頁">
    <meta property="og:type" content="website">
    <meta property="fb:app_id" content="137466300263351">

    <!-- Social: Google+ / Schema.org  -->
    <meta itemprop="name" content="不要誤會，我不是針對你，我是說在座的各位，都是純靠北工程師。">
    <meta itemprop="description" content="發源自臉書──全台最大工程師廢文社群 https://kaobei.engineer">
    <meta itemprop="image" content="https://i.imgur.com/klfOphB.png">

    <!-- Favicon -->
    <link rel="shortcut icon" href="./../public/favicon.ico" type="image/x-icon" />

    <link media="all" type="text/css" rel="stylesheet" href="./../public/css/frontend.css">

    <!-- AOS CSS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">

    <!-- LightBox CSS -->
    <link rel="stylesheet" href="./../public/css/lightbox.css">

    <!-- This Page CSS -->
    <link type="text/css" rel="stylesheet" href="./../public/css/leaderboard-2019.css">

    <!-- Font Type -->
    <link href="https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">


</head>
<body>
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-full-bg navbar-dark bg-black fixed-top pt-0 pb-0 border-bottom border-white border-w-3">
            <div>
                <a href="https://kaobei.engineer" class="navbar-brand">純靠北工程師</a>
                <a href="https://www.facebook.com/init.kobeengineer/" class="mr-2"><img src="https://image.flaticon.com/icons/svg/220/220200.svg" alt="Facebook" class="rounded" width="30" height="30"></a>
                <a href="https://twitter.com/kaobei_engineer/" class="mr-2"><img src="https://image.flaticon.com/icons/svg/124/124021.svg" alt="Twitter" class="rounded" width="30" height="30"></a>
                <a href="https://plurk.com/kaobei_engineer/" class="mr-2"><img src="https://image.flaticon.com/icons/svg/124/124026.svg" alt="Plurk" class="rounded" width="30" height="30"></a>
            </div>
            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="切換導航" class="navbar-toggler navbar-toggler-right border-0 collapsed">
                <span class="navbar-toggler-icon icon-bar top-bar"></span>
                <span class="navbar-toggler-icon icon-bar middle-bar"></span>
                <span class="navbar-toggler-icon icon-bar bottom-bar"></span>
            </button>

            <div id="navbarSupportedContent" class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="https://kaobei.engineer/login" class="nav-link">登入</a></li>
                    <li class="nav-item"><a href="https://kaobei.engineer/register" class="nav-link">註冊</a></li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid p-0 m-0">
            <div id="all-wrap" class="row d-flex d-md-flex flex-column p-0 m-0">
                <!-- Something code -->
                <section id="leaderBoard-entrance" class="parallax-window" data-parallax="scroll" data-image-src="../public/img/frontend/leaderboard/entrance-bg.jpg">
                    <div class="title-wrap">
                        <p class="entrance-title">純靠北工程師</p>
                        <br>
                        <p class="entrance-title-2">2019年度排行</p>
                    </div>
                    <div class="scroll-line"></div>
                </section>

                <section id="years-accumulation" class="col-12 p-0 m-0 parallax-window-2" data-parallax="scroll" data-image-src="../public/img/frontend/leaderboard/years-accumulation-bg.jpg">
                    <div class="container p-0">
                        <div class="row  p-0 m-0">
                            <div class="col-12 years-accumulation-wrap p-0 m-0">
                                <div class="years-accumulation-item">
                                    <p>年度累積文章數</p>
                                    <div id="year-acc-1" class="accumulation-num" data-val=2000 data-animation="true"></div>
                                </div>                        
                            </div>
                            <div class="col-12 years-accumulation-wrap p-0 m-0">
                                <div class="years-accumulation-item">
                                    <p>年度累積響應數</p>
                                    <div id="year-acc-2" class="accumulation-num" data-val=5000 data-animation="true"></div>
                                </div>                        
                            </div>
                            <div class="col-12 years-accumulation-wrap p-0 m-0">
                                <div class="years-accumulation-item">
                                    <p>年度散播靠北數</p>
                                    <div id="year-acc-3" class="accumulation-num" data-val=10000 data-animation="true"></div>
                                </div>                        
                            </div>
                            <div class="col-12 years-accumulation-wrap p-0 m-0">
                                <div class="years-accumulation-item">
                                    <p>年度收割拇指數</p>
                                    <div id="year-acc-4" class="accumulation-num" data-val=30000 data-animation="true"></div>
                                </div>                        
                            </div>
                            <div class="col-12 years-accumulation-wrap p-0 m-0">
                                <div class="years-accumulation-item">
                                    <p>年度刪除文章數</p>
                                    <div id="year-acc-5" class="accumulation-num" data-val=200 data-animation="true"></div>
                                </div>                        
                            </div>
                            <div class="col-12 years-accumulation-wrap p-0 m-0">
                                <div class="years-accumulation-item">
                                    <p>年度被消失人數</p>
                                    <div id="year-acc-6" class="accumulation-num" data-val=87 data-animation="true"></div>
                                </div>                        
                            </div>
                        </div>
                    </div>
                </section>

                <section id="best-articles" class="m-0">
                    <!-- 年度最多讚、年度最多分享、年度釣魚、年度沒人理，以及精選前十篇 -->
                    <div class="container p-0">
                        <div class="row p-0 m-0">
                            <div class="col-sm-12 col-md-6 col-lg-3 article-block p-0" data-aos="fade-up">
                                <div class="article-top">
                                    <p class="article-title">年度最多讚</p>
                                    <p class="article-number">#9487</p>
                                </div>
                                <a class="article-img" href="../public/img/frontend/cards/cards-too-long.png" data-lightbox="1">
                                    <img src="../public/img/frontend/cards/cards-too-long.png" alt="年度最多讚">
                                </a>
                                <div class="article-likes">
                                    <div class="sns">
                                        <img src="../public/img/frontend/leaderboard/sns-fb.png" alt="Facebook">
                                        <p class="sns-num">1234</p>
                                    </div>
                                    <div class="sns">
                                        <img src="../public/img/frontend/leaderboard/sns-twitter.png" alt="Twitter">
                                        <p class="sns-num">1235</p>
                                    </div>
                                    <div class="sns">
                                        <img src="../public/img/frontend/leaderboard/sns-plurk.png" alt="Plurk">
                                        <p class="sns-num">1236</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-3 article-block p-0" data-aos="fade-up">
                                <div class="article-top">
                                    <p class="article-title">年度最多分享</p>
                                    <p class="article-number">#5566</p>
                                </div>
                                <a class="article-img" href="../public/img/frontend/cards/cards-long.png" data-lightbox="2">
                                    <img src="../public/img/frontend/cards/cards-long.png" alt="年度最多分享">
                                </a>
                                <div class="article-likes">
                                    <div class="sns">
                                        <img src="../public/img/frontend/leaderboard/sns-fb.png" alt="Facebook">
                                        <p class="sns-num">1234</p>
                                    </div>
                                    <div class="sns">
                                        <img src="../public/img/frontend/leaderboard/sns-twitter.png" alt="Twitter">
                                        <p class="sns-num">1235</p>
                                    </div>
                                    <div class="sns">
                                        <img src="../public/img/frontend/leaderboard/sns-plurk.png" alt="Plurk">
                                        <p class="sns-num">1236</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-3 article-block p-0" data-aos="fade-up">
                                <div class="article-top">
                                    <p class="article-title">年度最佳釣魚</p>
                                    <p class="article-number">#8888</p>
                                </div>
                                <a class="article-img" href="../public/img/frontend/cards/cards.png" data-lightbox="3">
                                    <img src="../public/img/frontend/cards/cards.png" alt="年度最佳釣魚">
                                </a>
                                <div class="article-likes">
                                    <div class="sns">
                                        <img src="../public/img/frontend/leaderboard/sns-fb.png" alt="Facebook">
                                        <p class="sns-num">1234</p>
                                    </div>
                                    <div class="sns">
                                        <img src="../public/img/frontend/leaderboard/sns-twitter.png" alt="Twitter">
                                        <p class="sns-num">1235</p>
                                    </div>
                                    <div class="sns">
                                        <img src="../public/img/frontend/leaderboard/sns-plurk.png" alt="Plurk">
                                        <p class="sns-num">1236</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-3 article-block p-0" data-aos="fade-up">
                                <div class="article-top">
                                    <p class="article-title">年度最沒人理</p>
                                    <p class="article-number">#5555</p>
                                </div>
                                <a class="article-img" href="../public/img/frontend/cards/cards-too-long.png" data-lightbox="4">
                                    <img src="../public/img/frontend/cards/cards-too-long.png" alt="年度最沒人理">
                                </a>
                                <div class="article-likes">
                                    <div class="sns">
                                        <img src="../public/img/frontend/leaderboard/sns-fb.png" alt="Facebook">
                                        <p class="sns-num">1234</p>
                                    </div>
                                    <div class="sns">
                                        <img src="../public/img/frontend/leaderboard/sns-twitter.png" alt="Twitter">
                                        <p class="sns-num">1235</p>
                                    </div>
                                    <div class="sns">
                                        <img src="../public/img/frontend/leaderboard/sns-plurk.png" alt="Plurk">
                                        <p class="sns-num">1236</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-3 article-block p-0" data-aos="fade-up">
                                <div class="article-top">
                                    <p class="article-title">精選十大</p>
                                    <p class="article-number">#1111</p>
                                </div>
                                <a class="article-img" href="../public/img/frontend/cards/cards-too-long.png" data-lightbox="5">
                                    <img src="../public/img/frontend/cards/cards-long.png" alt="精選十大">
                                </a>
                                <div class="article-likes">
                                    <div class="sns">
                                        <img src="../public/img/frontend/leaderboard/sns-fb.png" alt="Facebook">
                                        <p class="sns-num">1234</p>
                                    </div>
                                    <div class="sns">
                                        <img src="../public/img/frontend/leaderboard/sns-twitter.png" alt="Twitter">
                                        <p class="sns-num">1235</p>
                                    </div>
                                    <div class="sns">
                                        <img src="../public/img/frontend/leaderboard/sns-plurk.png" alt="Plurk">
                                        <p class="sns-num">1236</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-3 article-block p-0" data-aos="fade-up">
                                <div class="article-top">
                                    <p class="article-title">精選十大</p>
                                    <p class="article-number">#2222</p>
                                </div>
                                <a class="article-img" href="../public/img/frontend/cards/cards-too-long.png" data-lightbox="6">
                                    <img src="../public/img/frontend/cards/cards-long.png" alt="精選十大">
                                </a>
                                <div class="article-likes">
                                    <div class="sns">
                                        <img src="../public/img/frontend/leaderboard/sns-fb.png" alt="Facebook">
                                        <p class="sns-num">1234</p>
                                    </div>
                                    <div class="sns">
                                        <img src="../public/img/frontend/leaderboard/sns-twitter.png" alt="Twitter">
                                        <p class="sns-num">1235</p>
                                    </div>
                                    <div class="sns">
                                        <img src="../public/img/frontend/leaderboard/sns-plurk.png" alt="Plurk">
                                        <p class="sns-num">1236</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <footer class="footer bg-black text-white page-footer font-small unique-color-dark">
            <div class="container text-center text-md-left mt-5">
                <div class="row mt-3">
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-white font-weight-bold">關於本站</h6>
                        <hr class="bg-white accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 32px;">
                        <p><img src="https://kaobei.engineer/img/frontend/background/WsOFRId.png" alt="就看你能多有梗" class="img-fluid rounded w-100"></p>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
                        <h6 class="text-white font-weight-bold">聯絡我們</h6>
                        <hr class="bg-white accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 32px;">
                        <p><i class="fas fa-envelope mr-3"></i> kantai.developer@gmail.com</p>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-white font-weight-bold">服務項目</h6>
                        <hr class="bg-white accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 32px;">
                        <p><a href="https://kaobei.engineer/policies">網站服務條款 &amp; 隱私權政策</a></p>
                        <p><a href="https://kaobei.engineer/cards">文章列表</a></p>
                        <p><a href="https://kaobei.engineer/cards/create">發表文章</a></p>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-md-0 mb-4">
                        <h6 class="text-white font-weight-bold">社群平台</h6>
                        <hr class="bg-white accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 32px;">
                        <p><a href="https://kaobei.engineer"><img src="https://kaobei.engineer/img/frontend/banner/Zl6Mrfs.png" alt="官方網站" class="img-fluid rounded"></a></p>
                        <p><a href="https://www.facebook.com/kaobei.engineer"><img src="https://kaobei.engineer/img/frontend/banner/zgwvd6x.png" alt="Facebook 測試機" class="img-fluid rounded"></a></p>
                        <p><a href="https://www.facebook.com/init.kobeengineer"><img src="https://kaobei.engineer/img/frontend/banner/3qOl69x.png" alt="Facebook 正式機" class="img-fluid rounded"></a></p>
                        <p><a href="https://twitter.com/kaobei_engineer"><img src="https://kaobei.engineer/img/frontend/banner/aPI28fr.png" alt="Twitter" class="img-fluid rounded"></a></p>
                        <p><a href="https://www.plurk.com/kaobei_engineer"><img src="https://kaobei.engineer/img/frontend/banner/SFcRaLN.png" alt="Plurk" class="img-fluid rounded"></a></p>
                        <p><a href="https://www.instagram.com/kaobei.engineer"><img src="https://kaobei.engineer/img/frontend/banner/6FgkF3R.png" alt="Instagram" class="img-fluid rounded"></a></p>
                        <p><a href="https://kaobei-engineer.tumblr.com"><img src="https://kaobei.engineer/img/frontend/banner/dffwOx9.png" alt="Tumblr" class="img-fluid rounded"></a></p>
                        <p><a href="https://discord.gg/tPhnrs2"><img src="https://kaobei.engineer/img/frontend/banner/tknHq2i.png" alt="Discord" class="img-fluid rounded"></a></p>
                    </div>
                </div>
            </div>
            <div class="footer-copyright text-center text-white py-3">
                <p class="m-0">Copyright © 2019 純靠北工程師. <br class="d-block d-md-none">All rights reserved. <br class="d-block d-md-none">Powered by <a href="https://github.com/init-engineer/init.engineer">純靠北工程師</a>.</p>
            </div>
        </footer>
    </div>

    <!-- Scripts -->
    <script src="./../public/js/manifest.js"></script>
    <script src="./../public/js/vendor.js"></script>
    <script src="./../public/js/frontend.js"></script>

    <!-- AOS JS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- parallax JS -->
    <script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>
    <!-- MOVING LETTERS JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <!-- CountUp JS -->
    <script src="./../public/js/countUp.js"></script>
    <!-- LightBox JS -->
    <script src="./../public/js/lightbox.js"></script>
    
    <script>

    // AOS
    AOS.init();


    // 視差捲動 START
        // Photo by Pankaj Patel on Unsplash
        $('.parallax-window').parallax({imageSrc: '../public/img/frontend/leaderboard/entrance-bg.jpg'});
        // Photo by Markus Spiske on Unsplash
        $('.parallax-window-2').parallax({imageSrc: '../public/img/frontend/leaderboard/years-accumulation-bg.jpg'});
    // 視差捲動 END


    // 首頁文字動畫 START
        var textWrapper = document.querySelector('.entrance-title');
        textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");
        var textWrapper2 = document.querySelector('.entrance-title-2');
        textWrapper2.innerHTML = textWrapper2.textContent.replace(/\S/g, "<span class='letter2'>$&</span>");

        anime.timeline({loop: false})
        .add({
            targets: '.entrance-title .letter',
            scale: [4,1],
            opacity: [0,1],
            translateZ: 0,
            easing: "easeOutExpo",
            duration: 1000,
            delay: (el, i) => 70*i
        })

        anime.timeline({loop: false})
        .add({
            targets: '.entrance-title-2 .letter2',
            scale: [4,1],
            opacity: [0,1],
            translateZ: 0,
            easing: "easeOutExpo",
            duration: 1000,
            delay: (el, i) => 70*i
        })
    // 首頁文字動畫 END

    // 計數器 START
    $(window).scroll(function(){
        // 感謝小蟹神支援幫忙解決 bug (github：wildjcrt)
        if ($('.accumulation-num').filter(function() { return $(this).data('animation') & true }).length === 0) return
        $('.accumulation-num').each(function(){
            var currentId = $(this).attr('id').split('-')[2];
            var bottom_of_object = $(this).offset().top + $(this).outerHeight();
            var bottom_of_window = $(window).scrollTop() + $(window).height();

            if( bottom_of_window > bottom_of_object ){
                if ($("#year-acc-" + currentId).data('animation')) {
                    new CountUp ("year-acc-"+currentId, $("#year-acc-"+currentId).attr("data-val")).start();
                    $("#year-acc-"+currentId).data('animation', false);
                }
            }
        })
    });
    // 計數器 END

    </script>
</body>

</html>