<!DOCTYPE html>
<html lang="zh_TW">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>純靠北工程師 | 2019 排行榜</title>
    <meta name="description" content="發源自臉書──全台最大工程師廢文社群 https://kaobei.engineer">
    <meta name="keyword" content="純靠北工程師, 發源自臉書, 全台最大工程師廢文社群, 濁水溪以南最大, 濁水溪以北最大, 講幹話, 發廢文, 罵老闆, 婊同事, 我看你是不夠敏捷喔">
    <meta name="author" content="純靠北工程師">

    <!-- Social: Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@">
    <meta name="twitter:title" content="不要誤會，我不是針對你，我是說在座的各位，都是純靠北工程師。">
    <meta name="twitter:description" content="發源自臉書──全台最大工程師廢文社群 https://kaobei.engineer">
    <meta property="twitter:image:src" content="https://i.imgur.com/klfOphB.png">

    <!-- Social: Facebook / Open Graph -->
    <meta property="og:url" content="https://kaobei.engineer">
    <meta property="og:title" content="不要誤會，我不是針對你，我是說在座的各位，都是純靠北工程師。">
    <meta property="og:image" content="https://i.imgur.com/klfOphB.png">
    <meta property="og:description" content="發源自臉書──全台最大工程師廢文社群 https://kaobei.engineer">
    <meta property="og:site_name" content="純靠北工程師 | 首頁">
    <meta property="og:type" content="website">
    <meta property="fb:app_id" content="137466300263351">

    <!-- Social: Google+ / Schema.org  -->
    <meta itemprop="name" content="不要誤會，我不是針對你，我是說在座的各位，都是純靠北工程師。">
    <meta itemprop="description" content="發源自臉書──全台最大工程師廢文社群 https://kaobei.engineer">
    <meta itemprop="image" content="https://i.imgur.com/klfOphB.png">

    <!-- Favicon -->
    <link rel="shortcut icon" href="./../public/favicon.ico" type="image/x-icon" />

    <link media="all" type="text/css" rel="stylesheet" href="./../public/css/frontend.css">
    <link type="text/css" rel="stylesheet" href="./leadertemplate.css">
</head>

<body class="bg-img-star pt-5" style="background-color: black;">
    <div id="app">
        <nav
            class="navbar navbar-expand-lg navbar-full-bg navbar-dark bg-black fixed-top pt-0 pb-0 border-bottom border-white border-w-3">
            <div>
                <a href="https://kaobei.engineer" class="navbar-brand">純靠北工程師</a>
                <a href="https://www.facebook.com/init.kobeengineer/" class="mr-2"><img
                        src="https://image.flaticon.com/icons/svg/220/220200.svg" alt="Facebook" class="rounded"
                        width="30" height="30"></a>
                <a href="https://twitter.com/kaobei_engineer/" class="mr-2"><img
                        src="https://image.flaticon.com/icons/svg/124/124021.svg" alt="Twitter" class="rounded"
                        width="30" height="30"></a>
                <a href="https://plurk.com/kaobei_engineer/" class="mr-2"><img
                        src="https://image.flaticon.com/icons/svg/124/124026.svg" alt="Plurk" class="rounded" width="30"
                        height="30"></a>
            </div>
            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="切換導航"
                class="navbar-toggler navbar-toggler-right border-0 collapsed">
                <span class="navbar-toggler-icon icon-bar top-bar"></span>
                <span class="navbar-toggler-icon icon-bar middle-bar"></span>
                <span class="navbar-toggler-icon icon-bar bottom-bar"></span>
            </button>

            <div id="navbarSupportedContent" class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="https://kaobei.engineer/login" class="nav-link">登入</a></li>
                    <li class="nav-item"><a href="https://kaobei.engineer/register" class="nav-link">註冊</a></li>
                </ul>
            </div>
        </nav>
        <div class="container desk">
            <css-doodle class="doodles">
                :doodle {
                @grid: 200x1/ 40vmin;
                perspective: 40vmin;
                background: #000;
                }

                @place-cell: center;
                @size: 40% 3px;

                will-change: transform, opacity;
                transform-style: preserve-3d;

                background: linear-gradient(to left,
                @multi(@p([2-4]), @p(#00b8a9, #f8f3d4, #f6416c, #ffde7d)),
                transparent @r(50%)
                );

                animation: move @r(1s, 2s, .1) linear infinite;
                animation-delay: -@r(.1s, 2s);

                --trans:
                translateX(50%)
                rotateX(@r(-180deg, 180deg))
                rotateY(@r(-180deg, 180deg))
                rotateZ(@r(-180deg, 180deg));

                transform-origin: 0 center;
                transform: var(--trans) scale(2);
                opacity: 0;

                @keyframes move {
                20% { opacity: 1; }
                100% { transform: var(--trans) scale(0); }
                }
            </css-doodle>

            <!-- 電腦版 -->
            <div class="d-none d-md-flex position-relative align-items-center vh-100 vw-100 justify-content-center flex-column">
                <!-- Something code ... -->

                <div class="firstilte">
                    <div class="engtitle">
                        <img src="./logo.png" class="engimg">
                    </div>
                </div>
                <div class="titlearea">
                    <div class="titleinfo" id="titleactive">
                        <div class="flextitle">
                            <div class="article_title">
                                <h4>2019 年累積的文章數量</h4>
                            </div>
                            <div>
                                <img src="./JOJO.png" width="200" height="285">
                            </div>
                            <div class="hp">
                                <div class="hpboard">
                                    <div class="hpinfo">
                                        <h4>LP</h4>
                                        <p>2,000</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="titleinfo" id="titleactive">
                        <div class="flextitle">
                            <div class="community_title">
                                <h4>2019 年累積的社群留言</h4>
                            </div>
                            <div>
                                <img src="./howdareu.png" width="200" height="285">
                            </div>
                            <div class="hp">
                                <div class="hpboard">
                                    <div class="hpinfo">
                                        <h4>LP</h4>
                                        <p>50,000</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="titleinfo" id="titleactive">
                        <div class="flextitle">
                            <div class="liked_title">
                                <h4>2019 年累積的按讚數量</h4>
                            </div>
                            <div>
                                <img src="./ode.png" width="200" height="285">
                            </div>
                            <div class="hp">
                                <div class="hpboard">
                                    <div class="hpinfo">
                                        <h4>LP</h4>
                                        <p>300,000</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="titleinfo" id="titleactive">
                        <div class="flextitle">
                            <div class="share_title">
                                <h4>2019 年累積的分享數量</h4>
                            </div>
                            <div>
                                <img src="./kodare.png" width="200" height="285">
                            </div>
                            <div class="hp">
                                <div class="hpboard">
                                    <div class="hpinfo">
                                        <h4>LP</h4>
                                        <p>100,000</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="imgarea" id="imagearea" onclick="toggle()">
                    <div class="rotatey">
                        <div class="cardimg">
                            <img src="./card.png" width="200" height="285">
                            <h4 class="alert">翻開覆蓋的卡</h4>
                        </div>
                        <div class="miximg">
                            <img src="./mutriple.png" width="200" height="285">
                        </div>
                    </div>
                </div>
            </div>

            <!-- 手機版 -->
            <div class="d-md-none vh-100 vw-100 align-items-center d-flex a">
                <!-- Something code ... -->
                <div class="mobiletitlearea">
                    <div class="mobiletitleinfo" id="titleactive">
                        <div class="mobileflextitle">
                            <div class="article_title">
                                <h4>2019 年累積的</h4>
                                    <h4>文章數量</h4>
                            </div>
                            <div>
                                <img src="./JOJO.png" width="200" height="250">
                            </div>
                            <div class="hp">
                                <div class="hpboard">
                                    <div class="hpinfo">
                                        <h4>LP</h4>
                                        <p>2,000</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mobiletitleinfo" id="titleactive">
                        <div class="mobileflextitle">
                            <div class="article_title">
                                <h4>2019 年累積的</h4>
                                    <h4>社群留言</h4>
                            </div>
                            <div>
                                <img src="./howdareu.png" width="200" height="250">
                            </div>
                            <div class="hp">
                                <div class="hpboard">
                                    <div class="hpinfo">
                                        <h4>LP</h4>
                                        <p>50,000</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mobiletitleinfo" id="titleactive">
                        <div class="mobileflextitle mobileflex">
                            <div class="article_title">
                                <h4>2019 年累積的</h4>
                                    <h4>按讚數量</h4>
                            </div>
                            <div>
                                <img src="./ode.png" width="200" height="250">
                            </div>
                            <div class="hp">
                                <div class="hpboard">
                                    <div class="hpinfo">
                                        <h4>LP</h4>
                                        <p>300,000</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mobiletitleinfo" id="titleactive">
                        <div class="mobileflextitle mobileflex">
                            <div class="article_title">
                                <h4>2019 年累積的</h4>
                                    <h4>分享數量</h4>
                            </div>
                            <div>
                                <img src="./kodare.png" width="200" height="250">
                            </div>
                            <div class="hp">
                                <div class="hpboard">
                                    <div class="hpinfo">
                                        <h4>LP</h4>
                                        <p>100,000</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="border border-w-4" style="margin: 0;">


        【年度最佳 xx 文章】
        說明：這個區塊會顯示 2019 年度全部社群平台的讚數加總起來，讚數累計最多的文章。
        必要顯示資料：
        文章的編號 | Example: #xxxx
        文章的連結 | Example: https://kaobei.engineer/cards/show/xxxxx
        文章的圖片 | Example: https://kaobei.engineer/...../image.jpeg
        文章的 Facebook 正式機 讚數 | Example: 2,222
        文章的 Facebook 測試機 讚數 | Example: 1,111
        文章的 Twitter 正式機 讚數 | Example: 555
        文章的 Plurk 正式機 讚數 | Example: 666
        文章的讚數總和 | Example: 4,554
        非必要，但可自由發揮的資料：
        文章的內容 | Example: 【版主公告】我本來不會寫程式，但自從我參加這場活動之後，我覺得我好像稍微會寫程式了！

        附註說明：圖片的部分，可以用以下圖片做為測試圖片
        - ./public/img/frontend/cards/cards.png
        - ./public/img/frontend/cards/cards-long.png
        - ./public/img/frontend/cards/cards-too-long.png

        <div class="container">
            <!-- 電腦版 -->
            <div class="d-none d-md-flex align-self-md-center justify-content-md-center align-items-md-center vh-100">
                <!-- Something code ... -->
            </div>

            <!-- 手機版 -->
            <div class="d-md-none vh-100 position-relative">
                <!-- Something code ... -->
            </div>
        </div>

        <footer class="footer bg-black text-white page-footer font-small unique-color-dark">
            <div class="container text-center text-md-left mt-5">
                <div class="row mt-3">
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-white font-weight-bold">關於本站</h6>
                        <hr class="bg-white accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 32px;">
                        <p><img src="https://kaobei.engineer/img/frontend/background/WsOFRId.png" alt="就看你能多有梗"
                                class="img-fluid rounded w-100"></p>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
                        <h6 class="text-white font-weight-bold">聯絡我們</h6>
                        <hr class="bg-white accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 32px;">
                        <p><i class="fas fa-envelope mr-3"></i> kantai.developer@gmail.com</p>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-white font-weight-bold">服務項目</h6>
                        <hr class="bg-white accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 32px;">
                        <p><a href="https://kaobei.engineer/policies">網站服務條款 &amp; 隱私權政策</a></p>
                        <p><a href="https://kaobei.engineer/cards">文章列表</a></p>
                        <p><a href="https://kaobei.engineer/cards/create">發表文章</a></p>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-md-0 mb-4">
                        <h6 class="text-white font-weight-bold">社群平台</h6>
                        <hr class="bg-white accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 32px;">
                        <p><a href="https://kaobei.engineer"><img
                                    src="https://kaobei.engineer/img/frontend/banner/Zl6Mrfs.png" alt="官方網站"
                                    class="img-fluid rounded"></a></p>
                        <p><a href="https://www.facebook.com/kaobei.engineer"><img
                                    src="https://kaobei.engineer/img/frontend/banner/zgwvd6x.png" alt="Facebook 測試機"
                                    class="img-fluid rounded"></a></p>
                        <p><a href="https://www.facebook.com/init.kobeengineer"><img
                                    src="https://kaobei.engineer/img/frontend/banner/3qOl69x.png" alt="Facebook 正式機"
                                    class="img-fluid rounded"></a></p>
                        <p><a href="https://twitter.com/kaobei_engineer"><img
                                    src="https://kaobei.engineer/img/frontend/banner/aPI28fr.png" alt="Twitter"
                                    class="img-fluid rounded"></a></p>
                        <p><a href="https://www.plurk.com/kaobei_engineer"><img
                                    src="https://kaobei.engineer/img/frontend/banner/SFcRaLN.png" alt="Plurk"
                                    class="img-fluid rounded"></a></p>
                        <p><a href="https://www.instagram.com/kaobei.engineer"><img
                                    src="https://kaobei.engineer/img/frontend/banner/6FgkF3R.png" alt="Instagram"
                                    class="img-fluid rounded"></a></p>
                        <p><a href="https://kaobei-engineer.tumblr.com"><img
                                    src="https://kaobei.engineer/img/frontend/banner/dffwOx9.png" alt="Tumblr"
                                    class="img-fluid rounded"></a></p>
                        <p><a href="https://discord.gg/tPhnrs2"><img
                                    src="https://kaobei.engineer/img/frontend/banner/tknHq2i.png" alt="Discord"
                                    class="img-fluid rounded"></a></p>
                    </div>
                </div>
            </div>
            <div class="footer-copyright text-center text-white py-3">
                <p class="m-0">Copyright © 2019 純靠北工程師. <br class="d-block d-md-none">All rights reserved. <br
                        class="d-block d-md-none">Powered by <a
                        href="https://github.com/init-engineer/init.engineer">純靠北工程師</a>.</p>
            </div>
        </footer>
    </div><!-- #app -->

    <!-- Scripts -->
    <script src="./../public/js/manifest.js"></script>
    <script src="./../public/js/vendor.js"></script>
    <script src="./../public/js/frontend.js"></script>
    <script src="./leader.js"></script>
</body>

</html>